nav {
  height: 80px;
  padding: 0 50px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.19);
  z-index: 1;
  position: relative;
}

nav .logo {
  height: 60px;
}

nav .routes {
  display: flex;
  gap: 32px;
}