:root {
  font-family: "Lexend", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #ffffff;
  color: #34485C;
}

a, a:visited {
  font-weight: 500;
  color: #34485C;
  text-decoration: none;
}

body, #root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}